@import "tailwindcss";

/* Obligamos al compilador a leer el código inyectado desde JavaScript */
@source "./*.html";
@source "./js/**/*.js";

/* Configuramos tu paleta de colores oficial */
@theme {
  --color-surface: #131313;
  --color-surface-bright: #393939;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1b1b1b;
  --color-surface-container: #1f1f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353535;
  --color-primary: #ffb3ac;
  --color-primary-container: #b71f22;
  --color-secondary: #ffb3b1;
  --color-tertiary: #d1c4b9;
  --color-error: #ffb4ab;
  --color-sushi-white: #FFFFFF;
  --color-wasabi-green: #ACC677;
}